.header {
    display: flex;
    justify-content: space-between;
    background: url("../assets/back.webp");
    position: sticky;
    top: 0;
}

.Todo {
    color: white;
}

.tab {
    margin: 0 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.tab.active {
    color: #08f1b7;
}

.user-img {
    height: 40px;
}

.user-name {
    margin-left: auto;
    cursor: pointer;
    padding: 0.5rem;
    color: white;
}

.menu {
    padding: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
}

.theme-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin-left: 16px;
}

.theme-toggle span {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .tab {
        display: block;
        margin: 5px 0;
    }

    .user-name {
        margin-top: 10px;
    }

    .menu {
        width: 100%;
    }
}