.content {
    max-height: 420px;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: none !important;
}

.add-task-button {
    height: 40px;
    width: 143px;
    outline: none !important;
}

.search-tab {
    display: flex;
}

.search {
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .content {
        max-height: 300px;
    }

    .add-task-button {
        width: 100%;
    }

    .search {
        width: 100%;
    }

    .search-tab {
        flex-direction: column;
    }

    select {
        width: 100%;
        margin: 8px 0;
    }
}

@media (max-width: 480px) {
    .content {
        max-height: 250px;
    }

    .add-task-button {
        height: 36px;
    }
}