.add-task-button {
    height: 40px;
    width: 143px;
    outline: none !important;
}

.search-tab {
    display: flex;
}

.search {
    background-color: var(--background-color);
    color: var(--text-color);
}