.create-actions {
    outline: none !important;
}

.box {
    background-color: var(--secondary-color) !important;
    color: var(--font-color) !important;
}

.inputs {
    border: 1px solid var(--font-color) !important;
    margin-top: -5px !important;
}

.text-value {
    color: var(--font-color) !important;
    margin-top: -3px !important;
}

.font14 {
    font-size: 14px !important;
}